@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(217, 235, 255);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Atkinson Hyperlegible Mono", system-ui;
}

#myCanvas {
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyc3Fibmo1dTgyM3ljOXd6end1cGQzMGdtdWdhcjJ4dGszaTlndWpiYyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/dYtHPYJxZblCcWPwcQ/giphy.gif");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 10px solid rgb(255, 255, 255);
}

h1{
  font-weight: bolder;
  font-size: 50px;
  -webkit-text-stroke: 2px rgb(138, 165, 255);
  font-style: normal;
}

h2{
  font-weight: 1000;
  font-style: normal;
  background-color: rgb(138, 165, 255);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cielo{
  background-color: rgb(255, 138, 222);
  border-radius: 10px;
}

.meowww{
      border-radius: 20px;
      background-color: rgb(192, 211, 255);
      width: 80%;
      margin: auto;
      color: rgb(255, 255, 255);
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 40px;
      padding: auto;
    }

    .gallery{
      background-color: rgb(255, 222, 246);
      margin: auto;
      overflow: auto;
      border-radius: 20px;
      flex-wrap: nowrap;
      white-space: nowrap;
      flex-shrink: 0;
      flex-grow: 0;
      padding: auto;
    }

    h3{
      font-size: 26px;
      /* margin-top: auto; */
      display:flex;
      justify-content: center;
      align-items: center;
      height:60px;
      padding-top: 20px;
    }

