@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(217, 235, 255);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Atkinson Hyperlegible Mono", system-ui;
}

#myCanvas {
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyc3Fibmo1dTgyM3ljOXd6end1cGQzMGdtdWdhcjJ4dGszaTlndWpiYyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/dYtHPYJxZblCcWPwcQ/giphy.gif");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 10px solid rgb(255, 255, 255);
}

h1{
  font-weight: bolder;
  font-size: 50px;
  -webkit-text-stroke: 2px rgb(138, 165, 255);
  font-style: normal;
}

h2{
  font-weight: 1000;
  font-style: normal;
  background-color: rgb(138, 165, 255);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cielo{
  background-color: rgb(255, 138, 222);
  border-radius: 10px;
}

